
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-lexend: 'Lexend Giga', sans-serif;
$font-candal: 'Candal', sans-serif;
$font-krona: 'Krona One', sans-serif;
$font-roboto: 'Roboto', sans-serif;

@mixin flexLayout() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textHead () {
    font-family: $font-candal;
    font-size: 50px;
}