@use 'base' as *;

#prodetails .single-pro-imgage {
    width: 380px;
    .small-img-group {
        display: flex;
        justify-content: space-between;
    }
    .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
        padding-top: 10px;
    }
}
#mainImg {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
#prodetails, .section-pt1 {
    display: flex;
    padding-top: 150px;
    justify-content: center;
    padding-left: 100px;
    .head_price{
        font-family: $font-candal;
        font-size: 50px;
    }
    .single-pro-details {
        width: 50%;
        padding: 80px;
        padding-bottom: 50px;
        select {
            display: block;
            padding: 8px 10px;
            margin-bottom: 20px;
            border: 2px solid #000;
            border-radius: 50px;
            background-color: rgb(244, 244, 244);
        }
        input {
            width: 50px;
            height: 47px;
            padding-left: 18px;
            font-size: 16px;
            margin-right: 20px;
            border-left: none;
            border-right: none;
            border-top: none;
            background-color: rgb(244, 244, 244);
        }
        select:focus {
            outline: none;
            }
        input:focus {
            outline: none;
            }
    }
.add_button {
        background-color: #000000;
        border-radius: 60px;
        padding: 10px 70px;
        border: 2px solid transparent;
        font-size: 19px;
        text-decoration: none;
        color: #fff;
        &:hover {
            border: 2px solid #000000;
            background-color: #ffffff;
            color: #000;
            cursor: pointer;
            transition: 0.2s ease;
           }
        }

    .p_price {
        font-family: $font-krona;
        font-size: 20px;
        padding-top: 15px;
    }
    .shipping {
        font-family: $font-roboto;
        padding-top: 10px;
        font-size: 14px;
        padding-bottom: 40px;
    }
    .size {
        font-family: $font-krona;
        padding-bottom: 15px;
    }
    .prodetails {
        font-family: $font-krona;
        font-size: 20px;
        padding-top: 70px;
        padding-bottom: 10px;
    }
    .product_tekst {
        font-family: $font-roboto;
        font-size: 18px;
        line-height: 25px;
    }
}
    .f-pro {
        font-family: $font-krona;
        font-size: 30px;
        @include flexLayout();
        padding-bottom: 35px;
        padding-top: 100px
    }
    .f-under {
        @include flexLayout();
        font-family: $font-krona;
        font-size: 16px;
        padding-bottom: 20px;
    }


// Singleporduct
@media (max-width: 477px) {
    #prodetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .single-pro-imgage {
            width: 100%;
           
        }
        .single-pro-details {
            padding: 0;
        }
    }
}
@media screen and (max-width: 905px) {
    #prodetails, .section-pt1 {
        .add_button {
            padding: 10px 40px;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 900px) {
    #prodetails, .section-pt1 {
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;
        padding: 0;
        .single-pro-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 15px;
        }
        .single-pro-imgage {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 400px;
            padding-top: 100px;
            margin: 0 auto;
        }
        .head_price {
            font-family: "Candal", sans-serif;
            font-size: 40px;
            padding-top: 50px;
            justify-content: center;
            display: flex;
        }
        .p_price {
            justify-content: center;
            display: flex;
            font-size: 16px;
        } 
        .size {
            justify-content: center;
            display: flex;
            font-size: 18px;
        }
        .shipping {
            justify-content: center;
            display: flex;
            font-size: 12px;
        }
        .single-pro-details input {
            width: 50px;
            height: 47px;
            margin: 20px;
        }
        .single-pro-details select {
            margin: 0;
        }
        .prodetails {
            font-family: "Krona One", sans-serif;
            font-size: 20px;
            margin-bottom: 10px;
            justify-content: center;
            display: flex;
        }
    }
}
@media screen and (max-width: 380px) {
    #prodetails, .section-pt1 {
        .single-pro-imgage {
            width: 300px;
        }
    }
}
@media (max-width: 477px) {
      .f-pro {
      display: flex;
      justify-content: center;
      font-size: 20px;
      padding-top: 60px;
}
}
@media (max-width: 900px) {

    .fotos {
        flex-direction: column;
        width: 100%;
        padding-top: 0;
            padding-bottom: 0;
        img {
            width: 100%;
        }
        .picture {
            width: 200px;
            margin: 0;
        }
    }
    .spotlight1, .spotlight2, .spotlight3 {
        width: 100%;
        justify-content: center;
            display: flex;
            flex-direction: column;
        h3 {
            padding-top: 10px; 
        }
    }
}