@use 'base' as *;

section {
.heading_shop {
        @include flexLayout ();
        flex-direction: column;
        padding-top: 150px;
        h1 {
            font-family: $font-candal;
            font-size: 50px;
            padding-bottom: 25px;
            color: #1c1c1c;
        }
        p {
            font-family: $font-krona;
            font-size: 18px;
            color: #1c1c1c;
        }
    }
.buttons {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    margin: 0 auto;
    max-width: 800px;
    color: #1c1c1c;
    .collections {
        font-family: $font-krona;
        font-size: 30px;
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .filterKeuze {
        display: flex;
        flex-direction: column;
    }
    .bt-1, .bt-2, .bt-3, .bt-4, .bt-5, .bt-6, .bt-7, .bt-8{
        font-family: $font-krona;
        font-size: 20px;
        margin: 20px;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        appearance: none;
        -webkit-appearance: none;
        vertical-align: top;
      }
      
      input[type="checkbox"]::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #1c1c1c;
        margin-right: 5px;
      }
      
      input[type="checkbox"]:checked::before {
        background-color: #1c1c1c; 
      }
      .buttons1, .buttons2, .buttons3, .buttons4, .buttons5, .buttons6, .buttons7, .buttons8 {
        &:hover {
            cursor: pointer;
        }
      }
}
}
.spotlights_shop {
    font-family: $font-krona;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
        .popular {
            font-size: 18px;
        }
        .fotos {
            padding-top: 70px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        h3 {
            padding-top: 25px;
            font-family: $font-krona;
        }
        .discription {
            font-family: $font-roboto;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        .price {
            font-family: $font-roboto;
            padding: 10px;
            background-color: #1c1c1c;
            border-radius: 50px;
            display: flex;
            align-self: center;
            color: rgb(255, 255, 255);
            border: 2px solid transparent;
            &:hover {
                background-color: #fff;
                border: 2px solid #1c1c1c;
                color: #1c1c1c;
                transition: 0.2s ease;
            }
        }
        .stock {
            font-family: $font-roboto;
            padding-top: 5px;
            padding-bottom: 50px;
        }
        .picture {
            width: 270px;
            align-content: center;
            margin-top: 10px; 
            margin-bottom: 10px; 

            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            &:hover {
                cursor: pointer;
            }
    }
    .spotlight1, .spotlight2, .spotlight3 {
        font-family: $font-krona;
        justify-content: center;
        align-items: center;
        h3 {
            padding-top: 20px;
            @include flexLayout();
        }
        p {
            font-family: $font-roboto;
            @include flexLayout();
            font-size: 15px;
            padding-top: 15px;
        }
    }
}


.pagination {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
    font-family: $font-roboto;
}



@media (max-width: 768px) {
    .heading_posters {
        padding-bottom: 40px;
        .buttons {
            input[type="radio"] {
                width: 15px;
                height: 15px;
            }
            input[type=radio]::before {
                width: 15px;
                height: 15px;
            }
            .collections {
                font-size: 25px;
                padding-top: 30px;
            }
            .all_buttons {
                display: flex;
                flex-direction: column;
            }
            .bt-1, .bt-2, .bt-3, .bt-4 {
                align-items: start;
                display: flex;
                .buttons1, .buttons2, .buttons3, .buttons4 {
                    font-size: 15px;
                }
            }
        }
      .heading_shop {
        padding-top: 100px;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 13px;
        }

    }
}
}